<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-txt-left">
        My Assigned Individuals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isClientAssigned" class="no-assigned">
    No individuals assigned
  </div>

  <ion-list *ngFor="let item of assignedClientsList; let i = index;" id="idAssignedClientList">
    <ion-list-header lines="full">
      <ion-label class="list-header">
        <ion-icon name="person" class="users-icon"></ion-icon>
        {{item.firstName}} {{item.lastName}}
      </ion-label>
    </ion-list-header>

    <ion-item class="margin-item">
      <ion-label>
        <ion-row class="row-margin-bottom">
          <ion-col size="6">
            <p><b>End Of Service</b></p>
          </ion-col>
          <ion-col size="6">
            <p class="lbl-p">{{item.endOfService | date :  "MM/dd/yyyy"}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><b>Court Date</b></p>
          </ion-col>
          <ion-col size="6">
            <p class="lbl-p">{{item.courtDate | date :  "MM/dd/yyyy"}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><b>Primary Agent</b></p>
          </ion-col>
          <ion-col size="6">
            <p class="lbl-p">{{item.primaryAgent.firstName}} {{item.primaryAgent.lastName}}</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>