.margin-item {
    margin-left: 4% !important;
}

.users-icon {
    margin-bottom: -3px !important;
    font-size: 18px !important;
}

.list-header {
    font-size: 16px !important;
}

.no-assigned {
    text-align: center !important;
    margin-top: 10% !important;
}

.lbl-p {
    margin-left: 10px !important;
}

.header-txt-left {
    padding-left: 0px !important;
}