.user-card {
  background: #F3F3F4 !important;
  padding-bottom: 16px;
}

.custom-avatar {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px !important;
}

.h5-margin {
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}

.content-div {
  margin: 8% !important;
}

.links-div {
  font-size: 14px !important;
  color: #3880FF;
  margin-left: 8%;
}

.create-icon {
  background: #3880FF;
  color: white;
}

.bottom-div-space {
  margin-bottom: 8% !important;
}