<ion-content>
  <div>
    <div class="image-container" id="imgLogo">
      <img class="logo" src="assets/imgs/login.png" />
    </div>

    <div class="content">
      <div class="message" id="message">
        <ion-text class="title">
          <h2>Welcome to Ally</h2>
        </ion-text>
        <ion-text color="medium">
          <h6>Please press the button below to sign in.</h6>
        </ion-text>
      </div>

      <div class="footer">
        <ion-button id="btnSignIn" color="primary" expand="block" round (click)="onClick()" class="">Sign In
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>