.termsCond-header {
    font-size: 25px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.effectiveDate {
    font-size: 14px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.content-div {
    padding: 5%;
    font-size: 18px;
    color: #736e6e;
    margin-top: 5%;
}

.underline-text {
    text-decoration: underline !important;
}

.btnAcceptCls {
    text-transform: capitalize !important;
}

.btnDisagree {
    border: none !important;
    text-transform: capitalize !important;
    padding-bottom: 18px !important;
    font-weight: bold !important;
}