.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: -8px;
}

.icon-set {
    float: left;
    color: red;
    font-size: 20px;
    margin-right: 1%;
    margin-left: -3%;
}

.card-title {
    font-weight: bold;
    color: #a2a1a1;
}

.card-content-set {
    margin-left: 4%;
    margin-top: -12px;
}

.card-border {
    border: 0.5px solid red;
}

.yellow-card {
    border: 0.5px solid #bfbf35;
}

.icon-yellow {
    float: left;
    color: #bfbf35;
    font-size: 20px;
    margin-right: 1%;
    margin-left: -3%;
}

input[type='range'] {
    overflow: hidden;
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid red;
    border-radius: 25px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: gray;
}

input[type='range']::-webkit-slider-thumb {
    width: 30px;
    -webkit-appearance: none;
    height: 20px;
    background: red;
    box-shadow: -250px 0 0 250px red;
    border-radius: 20px;
}

// swipe button

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#slider {
    transition: width 0.3s,
        border-radius 0.3s,
        height 0.3s;
    position: absolute;
    //left: -10px;
    left: 1px;
    // left: -3px;
    // background-color: white;
    // width: 85px;
    height: 57px;
    border-radius: 50%;
    @include center;

    &.unlocked {
        transition: all 0.3s;
        width: inherit;
        left: 0 !important;
        height: inherit;
        border-radius: inherit;
    }
}

// .material-icons {
//     color: black;
//     font-size: 50px;
//     @include nonselect; 
// }

.material-icons {
    background: red;
    color: white;
    border-radius: 25px;
    font-size: 42px;
    padding: 4px;
    @include nonselect;
}

.slide-text {
    font-size: 15px;
    color: white;
    text-transform: capitalize;

    font-family: 'Roboto', sans-serif;
    @include nonselect;
}

.bottom {
    position: fixed;
    bottom: 0;
    font-size: 14px;
    color: white;

    a {
        color: white;
    }
}

// #button-background{
// //background: var(--bg);
//   transition:3s;
//  box-shadow: inset var(--sg)  0 0 red;


// }

.setEffect {
    box-shadow: inset var(--sg) 0 0 red;
    transition: 3s;
}

#button-background {
    position: relative;
    background-color: lighten($color: #afafaf, $amount: 0);
    // width: 306px;
    width: 100%;
    height: 50px;
    border: white;
    border-radius: 40px;
    @include center;
    transition: 3s;
    box-shadow: inset var(--sg) 0 0 red;
}

//reset
.resetEffect {
    box-shadow: inset 0 0 0 #816e6e !important;
    transition: 1s !important;
}

.footer-new-css {
    padding-top: 6px;
    padding-left: 24px;
    padding-bottom: 6px;
    background: #F3F3F4;
}

// tabs css

.grid-bg {
    background: #F3F3F4 !important;
}

// .tabs-margin {
//     margin-top: 120px !important;
// }

// .btn-tabs {
//     background: #d4d3d3 !important; 
//     color: black;
//     font-weight: bold;
// }
// .tab-selected {
//     background: white !important;
// }

// .tab-bar {
//     height: 32px !important;
//     border-radius: 6px !important;
//     margin: 5px !important; 
//     border: 1px solid #d4d3d3;
// }
.tab-badge {
    color: white;
    border-radius: 122px !important;
    padding: 2px;
    height: 15px;
    width: 15px;
    background-color: red;
    display: inline-block;
}


// new Tab CSS 

.critical-icon {
    color: white;
    background: #DE1A18;
    border-radius: 50%;
    // font-size: 32px;
    // padding: 8px;
    font-size: 26px;
    padding: 12px;
}

.serious-icon {
    color: white;
    background: #FD7E14;
    //font-size: 32px;
    //padding: 8px;
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
}

.warning-icon {
    color: white;
    background: #FFCE00;
    // font-size: 32px;
    // padding: 8px;
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
}

.message-icon {
    color: white;
    background: #3880FF;
    // font-size: 32px;
    // padding: 8px;
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
}

.phone-icon {
    color: white;
    background: red;
    // font-size: 32px;
    // padding: 8px;
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
}

.phone-icon-disabled {
    color: white;
    background: #ef9f9f;
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
}

.tab-selected {
    border-bottom: 1px solid black;
}

.btn-tabs {
    color: black;
    font-weight: bold;
}

.tab-bar {
    height: 78px !important;
    border-radius: 6px !important;
    margin: 5px !important;
}

.tabs-margin {
    // margin-top: 55px !important;
}

.icon-badge {
    font-size: 12px;
    margin-left: 10px;
    border: 0.2px solid white;
}

.row-footer {
    margin-left: 0% !important;
    margin-right: 5% !important;
}

.header-img {
    height: 18px !important;
    // margin-left: -20% !important;
}

.header-txt {
    text-align: center !important;
}

.location-icon {
    font-size: 22px !important;
}

.lbl-location {
    font-size: 7px !important;
    text-transform: capitalize !important;
}

.margin-0 {
    margin: 0px !important;
    padding: 0px !important;
}

// dial 911 css tryout

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 100%;
        height: 20px;
        -webkit-appearance: none;
        border: 1px solid red;
        border-radius: 25px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 20px;
        -webkit-appearance: none;
        color: gray;
        border-radius: 25px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 20px;
        -webkit-appearance: none;
        height: 20px;
        background: url('/assets/imgs/call-red-icon.jpg');
        box-shadow: -250px 0 0 250px red;
        border-radius: 25px;
    }

    // end dial 911 css tryout

}