.scroll {
    height: 100%
}

#map {
    width: 100%;
    height: 100%;
}

.location-head {
    margin-left: 1%;
    font-size: 16px;
    font-weight: bold;
}

#locationInfo {
    background: #f5f3f3 !important;
    margin-bottom: 20px;
    margin-left: 5px;
}