<ion-content>
  <div class="overlay"></div>
  <div class="modal_content">
    <ion-row class="row-margin-top">
      <ion-col>
        <p class="tour-title">Tour :</p>
      </ion-col>
    </ion-row>
    <div class="image-container">
      <img class="logo" src="../../../assets/imgs/swipe_tour_hand.jpg" id="imgTourSwipe" />
    </div>
    <ion-label>
      <ion-row class="row-margin-top">
        <ion-col size="6">
          <span class="lbl-pm">Swipe Right to</span> <span class="red-txt"> Delete</span>
        </ion-col>
        <ion-col size="6" class="col-text">
          <ion-button id="btnSwiteClose" color="primary" class="btn-text" (click)="closeModal()">Got it</ion-button>
        </ion-col>
      </ion-row>
    </ion-label>
  </div>
</ion-content>