.lbl-pm {
    font-size: 14px !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-left: 10%;
}

.btn-text {
    text-transform: capitalize !important;
    margin-top: -6%;
}

.col-text {
    text-align: center !important;
}

.row-margin-top {
    margin-top: 1% !important;
}

.red-txt {
    color: red !important;
}

.tour-title {
    font-size: 18px !important;
    font-weight: bold !important;
    margin-left: 5% !important;
}