/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-modal-css .modal-wrapper {
  // height: 20%;
  // top: 80%;
  // bottom: 20%;
  // display: block;
  // position: fixed;

  height: 26%;
  top: 74%;
  bottom: 20%;
  display: block;
  position: fixed;
}

.terms-conditions-modal .modal-wrapper {

  position: fixed;
}

.tour-swipe-modal-css .modal-wrapper {
  // height: 64%;
  // top: 80%;
  // bottom: 20%;
  // display: block;

  height: 75%;
  top: 80%;
  bottom: 20%;
  display: block;
}

// .alert-button-group {
//   justify-content: center !important;
//   border-top: 1px solid grey !important;
// }

.alert-button {
  text-transform: capitalize !important;
  font-size: 18px !important;
}

.alert-title.sc-ion-alert-md {
  font-size: 20px !important;
}